{% extends "main.html" %}

{% block content %}
{% if page == "login" %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username" placeholder="enter usersname"/>
        
        <label>password</label>
        <input type="text" name="password" placeholder="enter password"/>
        
        <input type="submit" value="loginin">
    </form>
    <p>haven't signed up yet?</p>
    <a href="{% url 'register' %}">sign up</a>
</div>

{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="register">
    </form>
    <p>already signed up yet?</p>
    <a href="{% url 'login' %}">sign in</a>
</div>
{% endif %}
{% endblock content %}